@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen!</h1>
    <p>Hier mal eine kleine Demo von der Nutzung von ASP.net core MVC mit Entity Framework in Verbindung mit einer MSSQL Datenbank.</p>
</div>
